@font-face {
  font-family: Kumbh;
  src: url(./asset/fonts/KumbhSans-VariableFont_wght.ttf);
}

*{
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;

  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  
  font-size: 16px;
  font-family: Kumbh, Times, serif;
}
body{
  padding: 0em 8em 0em 8em;
  scroll-behavior: smooth;
}

@media screen and (width < 575px){
  body{
    padding: 0em 1em 0em 1em;
  }

}
